{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/platmemberedit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required" value="{:isset($userinfo)?$userinfo.username:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" placeholder="请输入密码(选填)" autocomplete="off" class="layui-input" lay-verify="passwordNew">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="password_confirm" placeholder="确认密码(选填)" autocomplete="off" class="layui-input"   lay-verify="passwordNew">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="card_type" xm-select="card_type" xm-select-radio {if !isset($userinfo)}lay-verify="required"{/if}>
                <option value="0.5">七天0.5点</option>
                <option value="1">一个月1点</option>
                <option value="2">三个月2点</option>
                <option value="8">一年8点</option>
                <option value="10">永久10点</option>
            </select>
        </div>
    </div>
    {if isset($userinfo)}
    <div class="layui-form-item">
        <label class="layui-form-label">微信</label>
        <div class="layui-input-block">
            <input type="text" name="wx" placeholder="请输入微信(开通代理必填)" autocomplete="off" class="layui-input" lay-verify="agentNeed" value="{:isset($userinfo)?$userinfo.weichat:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="contact" placeholder="QQ或者微信(开通代理必填)" autocomplete="off" class="layui-input" lay-verify="agentNeed" value="{:isset($userinfo)?$userinfo.phone:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份</label>
        <div class="layui-input-block">
            <select name="user_type" xm-select="user_type" xm-select-radio lay-verify="required">
                <option value="1" >开通代理&nbsp;(需扣除二十点)</option>
                <option value="2" selected>用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;(无&nbsp;需&nbsp;扣&nbsp;点)</option>
            </select>
        </div>
    </div>
    {/if}
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            <input type="hidden" name="id" id="uid" value="{:isset($userinfo)?$userinfo.id:''}"/>
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'jquery', 'formSelects'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);
        //表单验证
        form.verify({
            agentNeed: function (value, item) { //value：表单的值、item：表单的DOM对象
                var msg=formSelects.value('user_type', 'valStr');
                if(msg == '1'){
                    if(value === ''){
                        return '微信和联系方式不能为空';
                    }
                }
            },
            passwordNew: function (value, item) { //value：表单的值、item：表单的DOM对象
                if(value !== '' && /^[\w\W]{6,18}$/.test(value)){
                    return '密码长度必须6到18位';
                }
            },
            password: [
                /^[\w\W]{6,18}$/
                , '密码长度必须6到18位'
            ]
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });


</script>
{/block}