{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="用户账户关键词"/>
                </div>
                <div class="layui-input-inline">
                    <select name="card_type" xm-select="card_type" xm-select-radio lay-verify="required">
                        <option value="">所有</option>
                        <option value="7">七天</option>
                        <option value="30">一个月</option>
                        <option value="90">三个月</option>
                        <option value="365">一年</option>
                        <option value="all">永久</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input starttime" placeholder="开始时间"/>
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input endtime" placeholder="结束时间"/>
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
        </form>
    </blockquote>
    <table id="usersList" lay-filter="usersList"></table>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form','layer','laydate','table','laytpl','formSelects'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            laytpl = layui.laytpl,
            formSelects = layui.formSelects,
            table = layui.table;

        //执行一个laydate实例
        laydate.render({
            elem: '.starttime', //指定元素
            type: 'datetime',
        });
        laydate.render({
            elem: '.endtime', //指定元素
            type: 'datetime',
        });
        //用户列表
        var tableIns = table.render({
            elem: '#usersList',
            url : '/admin/platmoney.html',
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            height : "full-125",
            id:'usersListTable',
            cols : [[
                {field: 'dname', title: '充值代理', width:120, align:"center"},
                {field: 'ctime', title: '操作时间', width:200},
                {field: 'iname', title: '充值人', align:'center'},
                {field: 'money', title: '花费金额',  align:'center'},
                {field: 'day', title: '总充值天数',  align:'center'},
            ]]
        });

        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click",function(){
            table.reload("usersListTable",{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    vip: $(".searchVal").val(),  //搜索的关键字
                    starttime: $(".starttime").val(),  //搜索的关键字
                    endtime: $(".endtime").val(),  //搜索的关键字
                    card_type: formSelects.value('card_type', 'valStr')
                }
            })
        });

    })
</script>
{/block}
